@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default body font */
body {
  @apply text-[18px] leading-relaxed;
  font-family: 'Poppins', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply text-[25px] leading-none;
  font-family: 'Merriweather', serif;
}

/* Paragraphs */
p {
  font-family: 'Poppins', sans-serif;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

/* Marquee animation */
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 5s linear infinite;
}

/* Marquee animation hover effect */
.animate-marquee:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}