@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default body font */
body {
  @apply text-base md:text-[18px] leading-relaxed;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  overflow-x: hidden;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply leading-tight;
  font-family: 'Merriweather', serif;
}

img,
video,
svg {
  max-width: 100%;
}

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
  scroll-behavior: auto !important;
}

/* Paragraphs */
p {
  font-family: 'Poppins', sans-serif;
}

.marquee-left {
  display: flex;
  width: max-content;
}

.marquee-right {
  display: flex;
  width: max-content;
}

.slider-marquee {
  display: flex;
  width: max-content;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

